@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.azeret-mono{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* universal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styles starts */
.hero-content{
    min-height: 570px;
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
}
.hero-texts-image{
    width: 67%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px 5px;
}
.banner-image{
    max-width: 210px;
}
.banner-title{
    font-size: 30px;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
    margin-top: 32px;
}
.banner-subtitle{ 
    font-size: 18px;
    font-weight: 500;
    color: #0D1321;
    text-align: center;
    margin: 24px 0 32px 0;
}

.btn{
    font-size: 17px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #0D1321;
    box-shadow: 0 5px 16px 0 rgb(17, 16, 16);
    border-radius: 8px;
    padding: 13px 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background ease-in 0.5s;
}
.btn:hover{
    background: rgb(19, 19, 19, 0.7);
}
/* main starts here */
/* web-dev-info section styles */
.web-dev-info{
    max-width: 80%;
    background-color: rgba(20, 38, 48, 0.03);
    margin: 80px auto 0 auto;
    padding: 50px 40px 60px 40px;
    border-radius: 16px;
} 
.web-dev-texts{
    padding: 0 10px;
    text-align: center;
}
.web-dev-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}
.web-dev-subtitle{
    font-size: 16px;
    color: #0D1321;
    margin-top: 18px;
}
.discussing-web-dev{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #FFFFFF;
    margin-top: 60px;
    border-radius: 16px;
    padding: 23px 5px 28px 25px;
}
.coding-text-content{
    width: 50%;
}
.coding-image{
    width: 275px;
}
.coding-image-js{
    width: 240px;
}
.coding-title{
    font-size: 22px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
}
.coding-describing{
    font-size: 16px;
    color: #0D1321;
    margin-top: 18px;
}
.common-btn{
    font-size: 15px;
    font-weight: 600;
    padding: 10px 15px;
    color: rgb(13, 19, 33);
    border: none;
    box-shadow: 0 3px 8px 0 rgb(130, 130, 130);
    margin-top: 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: background ease-in 0.5s;
}
.common-btn:hover{
    background: rgba(30, 29, 47, 0.15);
}

/* My Inspiration styles */
.inspiration-section{
    width: 80%;;
    background-color: rgba(20, 38, 48, 0.03);
    margin: 120px auto 0 auto;
    border-radius: 16px;
}
.inspiration-content{
    text-align: center;
    padding: 40px 30px 5px 30px;
}
.media-content{
    padding: 52px;
}
.media-content iframe{
    width: 100%;
    height: 460px;
    border-radius: 16px;
}
/* My Current Target styles */
.target-content{
    max-width: 80%;
    margin: 100px auto 0 auto;
    border-radius: 16px;
}
.current-target{
    max-width: 760px;
    text-align: center;
    margin: 0 auto;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 20px 0;
    margin-top: 40px;
}
.target-card{
    max-width: 300px;
    padding: 30px 25px;
    border-radius: 16px;
    box-shadow: 0 5px 27px 0px rgba(228, 226, 226, 0.606);
}
.html-bg{
    background-color: rgba(255, 76, 30, 0.09);
}
.card-title{
    font-size: 20;
    font-weight: 800;
    margin-top: 24px;
}
.card-brief{
    margin-top: 12px;
    margin-bottom: 24px;
}
.more-card-link{
    font-size: 16px;
    font-weight: bold;
    color: #0D1321;
}
.css-bg{
    background-color: rgba(0, 76, 232, 0.09);
}
.js-bg{
    background-color: rgba(255, 235, 0, 0.13);
}
/* contact-section styles */
.contact-section {
    width: 80%;
    min-height: 325px;
    margin: 120px auto 80px auto; 
    background-image: url('../assets/handshake.jpg');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;  
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.contact-title{
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
.contact-subtitle{
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding: 3px 15px;
}
.contact-form{
    margin-top: 26px;
}
#email{
    width: 300px;
    text-align: center;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 19px 160px 19px 20px;
    border: none;
    outline: none;
}
#submit{
    width: 110px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    padding: 17px 0;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: background ease-in 0.5s;
}
#submit:hover{
    background: rgba(255, 253, 253, 0.425);
}
/* main ends here */

/* footer styles */
.foot-content{
    min-height: 100px;
    background-color: rgba(13, 19, 33, 0.03);
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-details{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.foot-content p{
    font-size: 18px;
    font-weight: 600;
}
.fa-brands{
    font-size: 30px;
}
.fa-facebook, .fa-linkedin{
    color: blue;
}
.fa-github{
    margin: 0 10px 0 10px;
}