@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.azeret-mono{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* universal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styles starts */
.hero-content{
    min-height: 600px;
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
}
.hero-texts-image{
    width: 998px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 15px;
}
.banner-image{
    max-width: 210px;
}
.banner-title{
    font-size: 50;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
    margin-top: 32px;
}
.banner-subtitle{
    max-width: 89%;
    font-size: 18px;
    font-weight: 500;
    color: #0D1321;
    text-align: center;
    margin: 24px 0 32px 0;
}
.btn{
    max-width: 998px;
}
.btn button{
    font-size: 17px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #0D1321;
    border-radius: 8px;
    padding: 13px 16px;
    text-align: center;
    border: none;
}
.btn button:hover{
    background-color: rgb(88, 87, 87);
}
/* main starts here */
/* web-dev-info section styles */
.web-dev-info{
    max-width: 1120px;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 74px auto 0 auto;
    padding-bottom: 20px;
    border-radius: 16px;
} 
.web-dev-texts{
    width: 832px;
    text-align: center;
    margin: 0 auto; 
}
.web-dev-title{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    padding: 60px 0 24px 0;
}
.web-dev-subtitle{
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 47px;
}
.discussing-web-dev{
    width: 926px;
    display: flex;
    gap: 95px;
    background-color: #FFFFFF;
    margin: 80px auto;
    border-radius: 16px;
}
.coding-text-content{
    width: 457px;
    margin: 48px auto;
}
.coding-title{
    font-size: 22px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);

}
.coding-describing{
    font-size: 16px;
    color: #0D1321;
    margin-top: 18px;
}
.common-btn{
    font-size: 16px;
    font-weight: 700;
    padding: 12px 20px;
    color: #0D1321;
    border: 1px solid black;
    margin-top: 35px;
    border-radius: 8px;
}
.coding-image{
    width: 254px;
    height: 240px;
    margin: 48px auto;
}
/* My Inspiration styles */
.inspiration-section{
    max-width: 1120px;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 120px auto 0 auto;
    border-radius: 16px;
    padding-bottom: 52px;
}
.inspiration-content{
    max-width: 740px;
    text-align: center;
    margin: 0 auto;
}
.media-content{
    max-width: 990px; 
    margin: 60px auto 0 auto;
}
.media-content iframe{
    width: 100%;
    height: 500px;
    border-radius: 16px;
}
/* My Current Target styles */
.target-content{
    max-width: 1120px;
    margin: 50px auto 0 auto;
    border-radius: 16px;
}
.current-target{
    max-width: 760px;
    text-align: center;
    margin: 0 auto;
}
.cards{
    display: flex;
    gap: 24px;
}
.target-card{
    max-width: 364px;
    padding: 40px;
    border-radius: 16px;
}
.html-bg{
    background-color: rgba(255, 76, 30, 0.05);
}
.card-title{
    font-size: 20;
    font-weight: 800;
    margin-top: 24px;
}
.card-brief{
    margin-top: 12px;
    margin-bottom: 24px;
}
.more-card-link{
    font-size: 16px;
    font-weight: bold;
    color: #0D1321;
}
.css-bg{
    background-color: rgba(0, 76, 232, 0.05);
}
.js-bg{
    background-color: rgba(255, 223, 0, 0.05);
}
/* contact-section styles */
.contact-section {
    min-height: 323px;
    margin: 120px auto 80px auto;
    background-image: 
    linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(13, 19, 33, 1), 
    rgba(13, 19, 33, 0.4), 
    rgba(13, 19, 33, 0.15)),
    url('../assets/handshake.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.contact-title{
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
.contact-subtitle{
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}
.contact-form{
    margin-top: 24px;
}
#email{
    width: 548px;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 19px 215px 19px 20px;
    border: none;
    outline: none;
}
#submit{
    width: 120px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    padding: 17px 0;
    background-color: #FFFFFF;
}
#submit:hover{
    background-color: rgb(145, 145, 145);
}
/* main ends here */

/* footer styles */
.foot-content{
    background-color: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 32px 150px;
}
.foot-content p{
    font-size: 20px;
    font-weight: 600;
}
.fa-brands{
    font-size: 36px;
}
.fa-facebook, .fa-linkedin{
    color: blue;
}
.fa-github{
    margin: 0 24px 0 24px;
}