@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.azeret-mono{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* universal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styles starts */
.hero-content{
    min-height: 580px;
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-image{
    max-width: 214px;
}
.banner-title{
    font-size: 48;
    font-weight: 800;
    color: #0D1321;
    text-align: center;
    margin-top: 32px;
}
.banner-subtitle{
    max-width: 89%;
    font-size: 16px;
    color: #0D1321;
    text-align: center;
    margin: 24px 0 32px 0;
}
.btn{
    font-size: 20px;
    color: #FFFFFF;
    background-color: #0D1321;
    border-radius: 8px;
    padding: 18px 21px;
}
/* Why Web Development? starts */
/* web-dev-info section styles */
.web-dev-info{
    max-width: 1140px;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 74px auto 0 auto;
    padding-bottom: 20px;
    border-radius: 16px;
} 
.web-dev-texts{
    width: 852px;
    text-align: center;
    margin: 0 auto; 
}
.web-dev-title{
    font-size: 30px;
    font-weight: 800;
    color: #0D1321;
    padding: 80px 0 24px 0;
}
.web-dev-subtitle{
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 45px;
}
.discussing-web-dev{
    width: 946px;
    display: flex;
    gap: 95px;
    background-color: #FFFFFF;
    margin: 80px auto;
    border-radius: 16px;
}
.coding-text-content{
    width: 477px;
    margin: 48px auto;
}
.coding-title{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);

}
.coding-describing{
    font-size: 16px;
    color: #0D1321;
    margin-top: 18px;
}
.common-btn{
    font-size: 16px;
    font-weight: 700;
    padding: 12px 20px;
    color: #0D1321;
    border: 1px solid black;
    margin: 32px 0 59px 0;
}
.coding-image{
    width: 274px;
    height: 240px;
    margin: 48px auto;
}
/* My Inspiration styles */
.inspiration-section{
    max-width: 1140px;
    height: 775;
    background-color: rgba(13, 19, 33, 0.2);
    margin: 90px auto 151px auto;
    border-radius: 16px;
    border: 1px solid black;
    padding: 32px;
}
.inspiration-content{
    max-width: 852px;
    text-align: center;
    margin: 0 auto;
}
.media-content{
    max-width: 1076px;
    margin: 0 auto;
    
}
.media-content iframe{
    width: 100%;
    border-radius: 16px;
}
/* My Current Target styles */
.target-content{
    max-width: 1140px;
    margin: 0 auto;
}
.current-target{
    max-width: 946px;
    text-align: center;
    margin: 0 auto;
}
.cards{
    display: flex;
    gap: 24px;
}
.target-card{
    max-width: 364px;
    padding: 40px;
    border-radius: 16px;
}
.html-bg{
    background-color: rgba(255, 76, 30, 0.05);
}
.card-title{
    font-size: 20;
    font-weight: 800;
    margin-top: 24px;
}
.card-brief{
    margin-top: 12px;
    margin-bottom: 24px;
}
.more-card-link{
    font-size: 16px;
    font-weight: bold;
    color: #0D1321;
}
.css-bg{
    background-color: rgba(0, 76, 232, 0.05);
}
.js-bg{
    background-color: rgba(255, 223, 0, 0.05);
}